

<div class="container">
    <div class="row">
        <h1 class="text-center my-3">Update Contact Details</h1>
        <div class="col-6">
            <!-- form -->
            <form>
                <!-- Full Name -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.name" name="contactname" type="text" class="form-control" id="floatingInput1" placeholder="Full Name">
                    <label for="floatingName">Name</label>
                  </div>
                  <!-- Photo Url-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.photourl" name="photo" type="url" class="form-control" id="floatingPhoto" placeholder="Photo Url">
                    <label for="floatingPhoto">Photo Url</label>
                  </div>
                  <!-- email -->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.Email" name="email" type="email" class="form-control" id="floatingInput2" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <!-- Mobile Number -->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.phone" name="phone" type="text" class="form-control" id="floatingInput3" placeholder="Mobile">
                    <label for="floatingMobile">Mobile</label>
                  </div>
                  <!-- Company Name -->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.company" name="company" type="text" class="form-control" id="floatingInput4" placeholder="Company">
                    <label for="floatingCompany">Company Name</label>
                  </div>
                  <!-- Title -->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.title" name="title" type="text" class="form-control" id="floatingInput5" placeholder="Title">
                    <label for="floatingTitle">Title</label>
                  </div>

                  <!-- group -->
                  <div class="mb-3  form-floating">
                    <select [(ngModel)]="contact.GroupId" name="groupId" class="form-control">
                        <option value="" selected hidden disabled>Select</option>
                        <option [value]="grp.id" *ngFor="let grp of groups">{{grp.name}}</option>
                       
                    </select>
                  </div>
                  <!-- Button -->
                  <div class="text-center">
                    <input type="button" (click)="updateContact()" routerLink="/" value="submit" class="btn btn-outline-primary my-3">
                  </div>
            </form>
        </div>
        <div class="col-6">
            <!-- image -->
            <img  width="200px" height="200px" [src]="contact.photourl" alt="">
        </div>
    </div>
</div>
